* {
    box-sizing: border-box;
}

body {
    background: #e5e5e5;
    font-size: 1rem;
    line-height: 1.5;
    color: #25292b;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI";
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.header {
    position: sticky;
    top: 0;
    height: 4.0rem;
    padding: 0.25rem 0.5rem;
    margin: 0;
    background: url('../img/header.png') no-repeat top center, linear-gradient(-25deg, #315f4c 0, #214d3a 100%);
    background-size: cover;
    box-shadow: 0 -4px 6px inset rgba(0, 0, 0, .2);
    color: #fff;
    font-weight: 200;
    font-size: 2.0rem;
    text-shadow: -1px -1px 2px rgba(0, 0, 0, .4);
}

.sidebar {
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    max-width: 20%;
    width: 100%;
    padding: 0 0.5rem 1.0rem;
    overflow: hidden;
}

.sidebar__top {
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #cccccc;
    box-shadow: 0px 4px 7px -8px rgba(0, 0, 0, .5);
}

.sidebar__bottom {
    height: 100%;
    display: block;
    /* overflow: hidden; */
    margin: 0 -3rem 0 0rem;
    padding-top: 0.25rem;
}

.crop__list {
    height: 100%;
    overflow: auto;
}

main {
    flex: 0 0 80%;
    width: 100%;
    padding: 0 1rem;
    background: #eaeaea;
}

svg {
    margin: 2rem 0;
}

.location {
    flex: 1 1 auto;
    margin-bottom: 0.75rem;
    display: flex;
}

.search {
    flex: 1 1 auto;
    display: flex;
}

input[type="search"], input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    border-right: 0;
    padding: 0.5rem 0.75rem;
    font-size: 1.0rem;
    width: 100%;
    padding-left: 2.125rem;
    color: #555;
    font-family: "Segoe UI";
    flex: 0 0 60%;
}

button {
    border: 1px solid #457964;
    border-radius: 0 5px 5px 0;
    padding: 0.5rem 0.5rem;
    font-size: 1.0rem;
    margin-left: 0rem;
    text-align: center;
    background: linear-gradient(to bottom, #448067 0, #31644e 100%);
    transition: .1s linear all;
    color: #ddd;
    cursor: pointer;
    font-family: "Segoe UI";
    font-size: 1.0rem;
    width: 100%;
}

button.inactive {
    background: linear-gradient(to bottom, #bebebe 0, #a0a0a0 100%);
    border: #777;
    cursor: default;
}

button.inactive:hover {
    color: #ddd;
}

button.reset {
    background: linear-gradient(to bottom, #804444 0, #643131 100%);
    border: 1px solid #794545;
}

button:hover {
    color: #fff;
}

#location {
    background: #fafafa url("../img/location.svg") 0.5rem 0.375rem no-repeat;
    background-size: 1.5rem 1.5rem;
}

#filter {
    background: #fafafa url("../img/brocoli.svg") 0.5rem 0.5rem no-repeat;
    background-size: 1.25rem 1.25rem;
}

input[type="checkbox"] {
    display: none;
}

label {
    display: block;
    margin: 0 2rem 0 0;
    padding: 0.5rem 0.5rem 0.5rem 1.75rem;
    cursor: pointer;
    transition: .1s linear all;
    color: #888;
    font-weight: 200;
    background: url('../img/vegetable.svg') no-repeat 0.5rem center;
    background-size: 1.0rem 1.0rem;
    color: rgb(89, 99, 92);
    opacity: 0.5;
}

.Flowers {
    background-image: url('../img/flower.svg');
}

.Herbs {
    background-image: url('../img/herb.svg');
}

.Fruits {
    background-image: url('../img/fruit.svg');
}

label:hover {
    background-color: rgba(50, 120, 70, .08);
}

input:checked + label {
    /* background: rgba(50, 120, 70, .12); */
    font-weight: 600;
    opacity: 1;
    color: rgb(89, 99, 92);
}