::selection, ::-moz-selection {
    background: rgba(0, 0, 0, .2);
}

* {
    box-sizing: border-box;
}

body {
    background: #e5e5e5;
    font-size: 1rem;
    line-height: 1.5;
    color: #25292b;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI";
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.header {
    position: sticky;
    top: 0;
    height: 4.0rem;
    padding: 0.25rem 0.5rem;
    margin: 0;
    background: url('../img/header.png') no-repeat top center, linear-gradient(-25deg, #315f4c 0, #214d3a 100%);
    background-size: cover;
    box-shadow: 0 -4px 6px inset rgba(0, 0, 0, .2);
    color: #fff;
    font-weight: 200;
    font-size: 2.0rem;
    text-shadow: -1px -1px 2px rgba(0, 0, 0, .4);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header_left {
    flex: 0 0 14rem;
    height: 3.5rem;
    background: url('../img/logo.png') no-repeat center center;
    background-size: contain;
    font-size: 0;
}

.header_right {
    flex: 0 0 auto;
	align-items: center;
	padding: 0.5rem 0;
}

.header_right ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
}

.header_right ul li {
	flex: 1 1 auto;
	display: inline-block;
	margin-right: .5rem;
}

.header_right ul li a {
	display: block;
	transition: .1s linear all;
	color: #fbffff;
	padding: 0.4rem 1.0rem 0.4rem 0.8rem;
	border-radius: 3px;
	font-size: 1.1rem;
	line-height: 1.6rem;
	opacity: .8;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
	font-weight: 100;
    border: 1px solid transparent;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header_right ul li a:hover {
	background: rgba(255, 255, 255, .08);
	opacity: 1;
    border: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
}

.hide {
    opacity: 0;
    transition: .15s linear all;
    visibility: hidden;
}

.show {
    opacity: 1;
    transition: .15s linear all;
    visibility: visible;
}

.icon {
    display: inline-block;
    background: #fff;
    mask: url('../img/reset.svg') no-repeat center center;
    mask-size: 1.25rem 1.25rem;
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.5rem;
    transition: .1s linear all;
}

.sort .icon {
    mask-image: url('../img/sort.svg');
}

.donate .icon {
    mask-image: url('../img/donate.svg');
}

.clear .icon {
    mask-image: url('../img/reset.svg');
}

.pdf .icon {
    mask-image: url('../img/pdf.svg');
}

.github .icon {
    mask-image: url('../img/github.svg');
}

ul li a:hover .icon {
    background: #fff
}

.sidebar {
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    max-width: 20%;
    min-width: 250px;
    width: 100%;
    padding: 0 0.5rem 0.0rem;
    overflow: hidden;
}

.sidebar__top {
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #cccccc;
    box-shadow: 0px 4px 7px -8px rgba(0, 0, 0, .5);
}

.sidebar__bottom {
    height: 100%;
    display: block;
    margin: 0 -3rem 0 0rem;
    padding-top: 0.25rem;
    overflow: auto;
}

.crop__list {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.crop__list div {
    flex: 0 0 100%;
}

main {
    flex: 0 0 80%;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    background: #eaeaea;
}

svg {
    margin: 2rem 0 0;
}

.location {
    flex: 1 1 auto;
    margin-bottom: 0.75rem;
    display: flex;
    width: 100%;
}

.search {
    flex: 1 1 auto;
    display: flex;;
    width: 100%;
}

.location form {
    width: 100%;
    display: flex;
}

input[type="search"], input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    border-right: 0;
    padding: 0.5rem 0.25rem;
    font-size: 1.0rem;
    max-width: 100%;
    min-width: 4.0rem;
    padding-left: 2.125rem;
    color: #555;
    font-family: "Segoe UI";
    flex: 1 1 80%;
}

button {
    border: 1px solid #457964;
    border-radius: 0 5px 5px 0;
    padding: 0.5rem 0.5rem;
    font-size: 1.0rem;
    margin-left: 0rem;
    text-align: center;
    background: linear-gradient(to bottom, #448067 0, #31644e 100%);
    transition: .1s linear all;
    color: #ddd;
    cursor: pointer;
    font-family: "Segoe UI";
    font-size: 1.0rem;
    flex: 1 1 20%;
}

button.inactive {
    background: linear-gradient(to bottom, #bebebe 0, #a0a0a0 100%);
    border: #777;
    cursor: default;
}

button.inactive:hover {
    color: #ddd;
}

button.reset {
    background: linear-gradient(to bottom, #904a4a 0, #643131 100%);
    border: 1px solid #794545;
}

button:hover {
    color: #fff;
}

#location {
    background: #fafafa url("../img/location.svg") 0.5rem 0.375rem no-repeat;
    background-size: 1.5rem 1.5rem;
}

#filter {
    background: #fafafa url("../img/brocoli.svg") 0.5rem 0.5rem no-repeat;
    background-size: 1.25rem 1.25rem;
}

input[type="checkbox"] {
    display: none;
}

label {
    display: block;
    margin: 0 2rem 0 0;
    padding: 0.5rem 0.5rem 0.5rem 1.75rem;
    cursor: pointer;
    transition: .1s linear all;
    color: #888;
    font-weight: 200;
    background: url('../img/vegetable.svg') no-repeat 0.5rem center;
    background-size: 1.0rem 1.0rem;
    color: rgb(89, 99, 92);
    opacity: 0.5;
}

.Flowers {
    background-image: url('../img/flower.svg');
}

.Herbs {
    background-image: url('../img/herb.svg');
}

.Fruits {
    background-image: url('../img/fruit.svg');
}

label:hover {
    background-color: rgba(50, 120, 70, .08);
}

input:checked + label {
    /* background: rgba(50, 120, 70, .12); */
    font-weight: 600;
    opacity: 1;
    color: rgb(89, 99, 92);
}

input:disabled + label {
    /* background: rgba(50, 120, 70, .12); */
    font-weight: 200;
    text-decoration: line-through;
    background: transparent;
    cursor: default;
}

.top_info__instructions, .bottom_info__instructions, .top_info--third {
    font-family: "Gloria Hallelujah";
    font-size: 2.0rem;
    padding: 3.0rem;
    color: #aaa;
}

.top_info--third {
    flex: 0 0 33.3%;
    align-items: center;
}

.top_info {
    display: flex;
    height: 245px;
    align-items: center;
}

.top_info__instructions {
    background: url('../img/arrow-1.png') no-repeat left 15px;
    background-size: 319px 88px;
    padding-top: 88px;
}

.bottom_info__instructions {
    background: url('../img/arrow-2.png') no-repeat left bottom;
    padding-bottom: 300px;
    background-size: 300px 300px;
}

.top_info__left {
    order: 1;
    flex: 1 1 auto;
    padding: 2.0rem;
    display: flex;
    font-size: 1.2rem;
    border-bottom: 1px dashed #c0c0c0;
    flex-wrap: wrap;
}

.top_info__right {
    border-bottom: 1px dashed #c0c0c0;
}

.top_info__left strong {
    color: #888;
    font-weight: 300;
}

.top_info__left > div {
    flex: 0 0 50%;
}

.top_info__right {
    order: 2;
    flex: 0 0 auto;
    padding-right: 2.0rem;
}

@media only screen and (max-width: 780px) {
    .header {
        height: unset;
        position: unset;
        justify-content: space-between;
    }

    .header_right {
        flex: 1 1 auto;
    }

    .header_left {
        display: none;
    }

    .sidebar {
        position: unset;
        max-width: unset;
        flex: 0 0 100%;
        border: 0;
        height: unset;
    }

    .sidebar__bottom {
        margin: 0;
        height: unset;
    }

    .container {
        flex-wrap: wrap;
    }

    .github {
        display: none !important;
    }

    label {
        margin: 0;
    }

    .crop__list div {
        flex: 1 1 50%;
        min-width: 225px;
    }

    main {
        flex: 0 0 100%;
    }

}